flask==2.0.3
Werkzeug==2.0.3
itsdangerous==2.0.1
Jinja2==3.0.3
click==8.0.4
flask-socketio==4.3.1
librosa==0.10.2.post1
loguru==0.7.3
gunicorn==20.1.0
eventlet==0.33.3
numpy==1.23.0
soundfile==0.12.1
audioread==3.0.1
# NeMo và các libs:
nemo-toolkit==1.15.0
# Hãy cẩn thận với khối lượng/compatibility của NeMo; nếu gặp lỗi build, cân nhắc dùng wheel phù hợp
